body {
  background-color: beige;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  margin: 0; /* Remove default body margin */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

h1 {
  font-size: 50px;
}
